<div class= "container">
  <h2>About Page</h2>
</div>

<div class="container">
<h3>About the Company</h3>
<p>In mid-2005, the founders of PayAsia observed the aggressive expansion of Payroll Outsourcing Multi-National Companies (MNCs) 
  into the Asia Pacific region had created a “new demand”. 
  In the process of this expansion, these MNCs, being large enterprises, had acquired a significant number of 
  local payroll companies.

    <bdo>PAYASIA’S PHILOSOPHY IS SIMPLE – TO HELP OUR CLIENTS GROW THROUGH PROCESS AND TECHNOLOGY DRIVEN 
      REGIONAL SOLUTIONS, SO THEY CAN FOCUS ON THEIR CORE BUSINESS INTERESTS.
    </bdo>
    With their extensive overheads, complex management structures and Tier 1 software solutions, they were unwilling to service l
    ocal and regional SMEs with efficient and cost effective payroll solutions.
    
    From this observation, PayAsia was formed in 2006 to service the gap in the Asia Pacific market, 
    initially focusing on serving small to medium sized enterprises. PayAsia’s philosophy then and now is
    simple – to help our clients grow through Process and Technology driven regional solutions, so they can 
    focus on their core business interests.
    
    In 2008 PayAsia established its first international market with the purchase of Paywatch, 
    an Indian payroll outsourcing company. In January 2010, the company started to offer services under 
    the brand name of PayBharat (India) with a focus on domestic payroll. Since then PayBharat/PayAsia, 
    headquartered in Bengaluru, has opened offices in Delhi, Mumbai, Chennai, Hyderabad, Kolkata and Pune and has added 
    Temporary Staffing and Recruitment Services.
    
    Today PayAsia is a leader in International Payroll and HR Outsourcing in Asia Pacific, India, the Middle East and 
    Africa servicing our clients in 22 countries.</p>
   

</div>
