/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');



h2{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    text-align: center;
    

}
 h3, h4{
    color: blue;
    font-family: fantasy;
    text-align: left;
    
}

.container{
    border: 1px solid #aaaaaa;
    padding: 30px;
}

h1{
    position: static;
    color: rgb(226, 43, 43);
    text-align: center;
    border: 1px;
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}