<div class= "container">
    <h2> Home Page</h2>
</div>
<div class="container">
    <h4>Company Details</h4>
 <p class="radio">
    Founded in 2006 and headquartered in Singapore. <br>
    PayAsia is a leading provider in the Asia Pacific region for 
    Fully Managed Payroll and Cloud HR services and solutions <br> 
    meeting the demands of clients for process and technology driven 
    regional solutions and consolidation</p>
    <h4>Services</h4>
    <p>PAYROLL SERVICES<br>
       MULTI-COUNTRY & INTERNATIONAL PAYROLL<br>
       CONSULTING, IMPLEMENTATION & PROCESS<br>
       COMPLIANCE & SECURITY<br>
       LODGEMENT SERVICES</p>
       

</div>
 
